{% extends 'base.html' %}

{% block content %}

<br>

<div class="container" >
 <h1 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-weight: bold; color:rgb(93, 95, 214); padding-left: 20%;"> Product Recommendation System</h1>
</div>

<div class="container">
  <div class="jumbotron">
    <h3>
      Get recommendations by Customer login
    </h3>

    <p style="font-weight: bold; color:black">Enter Customer name</p>

    <form action="{{url_for('login')}}">
      <input type="text" name="name" class="form-control">
      <input type="submit" class="btn btn-info" value="LOGIN">
    </form>

    <br>
    <h3>
      Get recommendations by Product name
    </h3>
    <p style="font-weight: bold; color:black">Enter Product name</p>

    <form action="{{url_for('view')}}">
      <input type="text" name="prod" class="form-control">
      <input type="submit" class="btn btn-info" value="VIEW"> 
    </form>

  </div>
</div>

<div class="container">
  {% include 'mostpopulartable.html' %}
 {% include 'topselltable.html' %}
</div>


{% endblock %}